<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Turn LEDs on or off</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Turn LEDs on or off</h1>

        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>LED 23</legend>

                    <form action="/api/leds/23" method="post">
                        <input type="submit" class="btn btn-primary" value="Blink LED on GPIO 23" />
                    </form>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>LED 24</legend>

                    <form action="/api/leds/24" method="post">
                        <input type="submit" class="btn btn-primary" value="Blink LED on GPIO 24" />
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>